# Python
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/
.venv/
venv/
env/
ENV/

# OS files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp
*.bak

# Large raw waveform data not included in repository
Waveforms/
raw_sac/
*.SAC
*.sac

# Generated local outputs
ast_outputs_kirkuk/
ast_outputs_kirkuk_v4/
outputs/
temp/
